name: <%= @player.name %> <br />
hp: <%= @player.hp %> <br />
Welcome to this MUD!

Present room: 3<br>
North room <%= Room.find_by_room_id(3).north %><br>
East room <%= Room.find_by_room_id(3).east %><br>
South room <%= Room.find_by_room_id(3).south %><br>
West room <%= Room.find_by_room_id(3).west %><br>


<div class="" width="20%" height="20%" border="3">
MAKE SQUARE
</div>
